doctype html
<html>
  <head>
    <title>My experience with Pug</title>
  </head>
  <body>
    include components/header.pug
    <h1>Main Headline</h1>
    p #{aVariable} is awesome!
  </body>
</html>
